/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
    padding: 60px 15px 0;
}
.container .text-muted {
    margin: 20px 0;
}

.footer > .container {
    display: flex;
    align-content: center;
    justify-content: center;
}

code {
    font-size: 80%;
}

.flex-container {
    max-width: 450pt;
    padding: 0;
    margin: auto;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    justify-content: space-between;
}

.flex-item {
    background: #f7f7f7;
    margin: 5px;
    color: #6f6f6f;
    font-size: 5em;
    flex: 1;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-item:before {
    content:'';
    float:left;
    padding-top:100%;
}

